body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #070f2b;
    overflow-x: hidden;
    color: #fff;
}

#hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
}

#hero-overlay h1 {
    font-size: 3em;
    margin: 0;
}

#hero-overlay p {
    font-size: 1.2em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

#cards {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: #535c91;
}

#navbar {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hamburger {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    color: #fff;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: none; /* Hides the contents of the sidebar */
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 5px;
}

#details {
    margin-left: auto;
    position: absolute;
    top: 5px;
    right: 5px;
}

#details a {
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    color: #fff;
}

#details a:hover {
    color: #f1f1f1;
}