html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body{
    background-color: #070f2b;
}

#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* This will make sure the video is behind the content */
    margin: 0;
    
}

#header {
    position: relative;
    z-index: 1; /* Ensures the header is on top of the video */
    background-color: transparent; /* Ensure header background does not obscure the video */
    padding: 20px; /* Example padding */
}
